
@font-face {
    font-family:"Nexa-Bold";
    src:url("Nexa-Bold.woff2") format("woff2"),url("Nexa-Bold.woff") format("woff"),url("Nexa-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        